
<h2 class="text-xl font-semibold border-b pb-2 mb-4">@Partavate Feeds</h2>
<ul class="space-y-2 ml-2 text-lg">
    <li>
        <a href="https://twitter.com/partavate" class="p-2" aria-label="Twitter" target="_blank">
            <iconify-icon icon="mdi:twitter" class="text-white mr-2"></iconify-icon> Twitter
        </a>
    </li>

    <li>
        <a href="https://www.youtube.com/@partavate" class="p-2" aria-label="YouTube" target="_blank">
            <iconify-icon icon="mdi:youtube" class="text-white mr-2"></iconify-icon> YouTube
        </a>
    </li>

    <li>
        <a href="hhttps://www.linkedin.com/company/partavate-studios-llc/posts/" class="p-2" aria-label="LinkedIn" target="_blank">
            <iconify-icon icon="mdi:linkedin" class="text-white mr-2"></iconify-icon> LinkedIn
        </a>
    </li>
</ul>