{{ partial:components.page-solo }}

{{ slot:title }}
{{ title }}
{{ /slot:title }}

{{ slot:content }}

    <div class="grid lg:grid-cols-2 gap-8 mb-12">
        {{ collection:projects }} 

        {{ partial:components.click-container }}
        {{ slot:url }}{{ url }}{{ /slot:url }}
        {{ slot:content}}
            {{ if feature_image }}
                <img src="{{ feature_image | url }}" alt="{{ title }}" 
                        class="w-full object-cover rounded-lg">
            {{ /if }}
            <div class="flex-1 ">
                <h2 class="text-2xl font-bold mb-2 text-white">
                    {{ title }}
                </h2>
                <p class="line-clamp-3 text-blue-300">{{ intro | strip_tags }}</p>
            </div>
        {{ /slot:content}}
        {{ /partial:components.click-container }}

        {{ /collection:projects }}
    </div>

{{ /slot:content }}
{{ /partial:components.page-solo }}