{{ partial:components.breadcrumb }}

<article class="max-w-4xl mx-auto py-8">
    <header class="mb-4">
        <h1 class="text-5xl text-white font-bold mb-4">{{ title }}</h1>
    </header>

    <div class="flex gap-6 mb-8">
      {{ if website }}
      <a href="{{ website }}" aria-label="Website" target="_blank">
          <iconify-icon icon="mdi:home" class="inline-block text-2xl"></iconify-icon> Website
      </a>
      {{ /if }}

      {{ if github }}
      <a href="{{ github }}" aria-label="GitHub" target="_blank">
          <iconify-icon icon="mdi:github" class="inline-block text-2xl"></iconify-icon> Github
      </a>
      {{ /if }}

      {{ if twitter }}
      <a href="{{ twitter }}" aria-label="Twitter" target="_blank">
          <iconify-icon icon="mdi:twitter" class="inline-block text-2xl"></iconify-icon> Twitter
      </a>
      {{ /if }}

      {{ if youtube }}
      <a href="{{ youtube }}" aria-label="YouTube" target="_blank">
          <iconify-icon icon="mdi:youtube" class="inline-block text-2xl"></iconify-icon> Youtube
      </a>
      {{ /if }}

      {{ if reddit }}
      <a href="{{ reddit }}" aria-label="Reddit" target="_blank">
          <iconify-icon icon="mdi:reddit" class="inline-block text-2xl"></iconify-icon> Reddit
      </a>
      {{ /if }}

      {{ if discord }}
      <a href="{{ discord }}" aria-label="Discord" target="_blank">
          <iconify-icon icon="mdi:discord" class="inline-block text-2xl"></iconify-icon> Discord
      </a>
      {{ /if }}
      
    </div>


    <section class="">
      {{ content }}
        {{ if set: 'text' }}
          <div class="prose max-w-none">
            {{ text | markdown}}
          </div>
        {{ /if }}
      
        {{ if set: 'image' }}
          <div class="pb-4">
            <img src="{{ image:url }}" alt="{{ image:title }}">
          </div>
        {{ /if }}
        
      {{ /content }}
    </section>
</article>
