body {
  @import url(https://fonts.googleapis.com/css?family=Ubuntu);
  font-family: 'Ubuntu', sans-serif;
  background: #222 linear-gradient(-45deg, rgb(14, 7, 59) 0%, rgb(50, 0, 35) 100%);
  text-align: center;
  color: #aaa;
}

.menu-background {
  background: #000 linear-gradient(0, rgb(50, 0, 35) 0%,#111111 3%, #000000 50%);
}

a {
  color: #ff88dd;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}
a.nav-link:hover {
  background: #1f1f1f;
  text-decoration: none;
}


.bg-darktran {
  background: #000000aa;
}

div#biglogo {
  text-align: center;
  padding-top: 128px;
}

div.darkcontent {
  background: #000;
  border-bottom: 1px solid #333;
}

div#about {
}

div#contact {
}
