<div id="partners" class="py-16">
    <div class="px-4 lg:px-8 2xl:px-16 3xl:px-32">
        <h2 class="pt-8 pb-1 my-4 text-white text-2xl border-b-1 border-pink-800">Our Partners</h2>
  
        <div class="flex flex-wrap justify-center p-2 2xl:p-4 text-sm">

            <div class="w-full md:w-1/2 xl:w-1/4 p-16">
                <a href="https://2design.org/" class="block text-center text-pink-400 hover:text-white hover:underline">
                    <img src="/assets/partner-2-design.png" alt="Walter “|2|” Costinak" class="w-full h-auto mb-2">
                    Walter “|2|” Costinak
                </a>
            </div>
  
            
            <div class="w-full md:w-1/2 xl:w-1/4 p-16">
                <a href="#" class="block text-center text-pink-400 hover:text-white hover:underline">
                    <img src="/assets/partner-blockchain-gaming.png" alt="Blockchain Gaming" class="w-full h-auto mb-2">
                    Blockchain Gaming
                </a>
            </div>
  
            <div class="w-full md:w-1/2 xl:w-1/4 p-16">
                <a href="https://stockmusic.net" class="block text-center text-pink-400 hover:text-white hover:underline">
                    <img src="/assets/partner-stock-music.png" alt="StockMusic.net" class="w-full h-auto mb-2">
                    StockMusic.net
                </a>
            </div>
  
            <div class="w-full md:w-1/2 xl:w-1/4 p-16">
                <a href="https://www.blockchaingamealliance.org/" class="block text-center text-pink-400 hover:text-white hover:underline">
                    <img src="/assets/partner-bga.png" alt="Blockchain Game Alliance" class="w-full h-auto mb-2">
                    Blockchain Game Alliance
                </a>
            </div>
        </div>
    </div>
  </div>
  